@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: bolder;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: lighter;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body * {
    font-family: 'Open Sans', sans-serif;
}

.viz-header {
    background-color: #333333;
    height: 150px;
    margin-bottom: 15px;
}

h1 {
    height: 80px;
    padding-top: 35px;
    font-size: 65px !important;
    font-family: 'Garamond', serif;
    color: #ffffff !important;
    margin: 0 !important;
}

h2 {
    font-size: 55px !important;
    font-family: 'Garamond', serif;
}

h3 {
    font-size: 28px !important;
    font-family: 'Garamond', serif;
}

p {
    font-size: 18px !important;
    text-align: justify;
}

img {
    height: 75px;
    padding: 0px 20px;
}

.vertical-center {
    /* position: relative;
    top: 33%; */
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.active-case {
    color: #ff4528;
}

.recovered-case {
    color: #96c485;
}

.death-case {
    color: #333333;
}

.vega-bind {
    padding: 3px;
}

.vega-bind-name {
    padding: 0px 10px;
    text-align: right;
    font-weight: bold;
    display: inline-block;
    width: 150px !important;
}

select {
    width: 150px;
}

canvas {
    max-width: 100%;
}

#totalCases {
    height: 100px;
    width: 100%;
}

#totalRecovered {
    height: 70px;
    width: 300px;
    text-align: left !important;
}

#recoveredWaffle {
    height: 300px;
    width: 300px;
    text-align: left !important;
}

#totalActive {
    height: 70px;
    width: 300px;
}

#activeWaffle {
    height: 300px;
    width: 300px;
}

#totalDeaths {
    height: 70px;
    width: 300px;
    text-align: right !important;
}

#deathsWaffle {
    height: 300px;
    width: 300px;
    text-align: right !important;
}

#casesOverTime {
    width: 100%;
}

#stateCases {
    height: 300px;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    #stateCases {
        height: 400px;
        width: 100%;
    }
}

#vaxStatus {
    height: 200px;
    width: 100%;
}