@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: bolder;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../data/OpenSans.ttf) format("truetype");
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
}

body * {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px !important;
}

h2 {
    font-size: 36px !important;
}

p {
    font-size: 18px !important;
    text-align: justify;
}

img {
    height: 100px;
    padding: 0px 20px;
}

.vertical-center {
    /* position: relative;
    top: 33%; */
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.active-case {
    color: #f51d0a;
}

.recovered-case {
    color: #02d614;
}

.death-case {
    color: #313331;
}

.vega-bind {
    padding: 3px;
}

.vega-bind-name {
    padding: 0px 10px;
    text-align: right;
    font-weight: bold;
    display: inline-block;
    width: 150px !important;
}

select {
    width: 150px;
}

canvas {
    max-width: 100%;
}

#totalCases {
    height: 100px;
    width: 100%;
}

#totalRecovered {
    height: 100px;
    width: 300px;
    text-align: left !important;
}

#recoveredWaffle {
    height: 300px;
    width: 300px;
    text-align: left !important;
}

#totalActive {
    height: 100px;
    width: 300px;
}

#activeWaffle {
    height: 300px;
    width: 300px;
}

#totalDeaths {
    height: 100px;
    width: 300px;
    text-align: right !important;
}

#deathsWaffle {
    height: 300px;
    width: 300px;
    text-align: right !important;
}

#casesOverTime {
    width: 100%;
}

#stateCases {
    height: 300px;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    #stateCases {
        height: 400px;
        width: 100%;
    }
}

#vaxStatus {
    height: 200px;
    width: 100%;
}